/** 
 * Define Custom Properties with --root 
 */

:root {
    --fontSize: 1rem;
    --fontType: 'Open Sans';
    --bgColor: rebeccapurple;
    --flex-row: {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}


body {
    width: 100%;
    font-size: 16px;
    color: #f9f9f9;
    font-family: var(--fontType);
    font-size: var(--fontSize);
    background:  var(--bgColor);}

/** 
 * custom properties with @apply 
 */

.row {
    @apply --flex-row;
    div {
     width: 500px;
    }
}

/** 
 * Calculate h1-h4 with calc()
 */

h1 {
  font-size: calc(var(--fontSize) * 3);
}
h2 {
  font-size: calc(var(--fontSize) * 2.75);
}
h3 {
  font-size: calc(var(--fontSize) * 2.25);
}
h4 {
  font-size: calc(var(--fontSize) * 2);
}

/** 
 * Custom Media Query 
 */

@custom-media --small-viewport (max-width: 600px);

@media (--small-viewport) {
  /* styles for small viewport */
  .row {
      flex-direction: column;
      }
}